body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin: auto;
    width: 60%;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.image-container {
    position: relative;
}

#spy-image {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1.2em;
    margin: 5px 0;
}

#message {
    font-size: 1.2em;
    color: green;
    margin-top: 20px;
}
