body {
  font-family: Arial, Verdana, sans-serif;
  width: 90%;
  margin: 0 auto;
  background-image: url("../images/ai-generated-honey-background-free-photo.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#header, #feature, .column1, .column2, .column3, #html-column, #css-column {
  font-family: Arial, Verdana, sans-serif;
  color: #b79c34;
  text-align: center;
}

#nav, #footer {
  font-family: Arial, Verdana, sans-serif;
  color: #ffffff;
  text-align: center;
}

#nav {
  margin: 1%;
  background-color: #3c5656;
  padding: 0.5em 0;
}

li {
  display: inline;
  padding: 0.5em;
}


#footer {
  margin: 1%;
  background-color: #5a8282;
  padding: 0.5em 0;
}

#content {
  overflow: hidden;
}

#feature {
  margin: 1%;
  min-height: 10vh;
  margin-bottom: 1em;
  background-color: #a64e6a;
  background-image: url("../images/BEEs.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  text-align: center;
  align-items: center;
}

.column1, .column2, .column3 {
  width: 31.3%;
  float: left;
  margin: 1%;
}

.column1 {
  background-color: #32495a;
}

.column2 {
  background-color: #a75f2b;
}

.column3 {
  background-color: #344126;
}

.column1 img, .column2 img, .column3 img {
  overflow: hidden;
  width: 90%;
  height: 90%;
}

#html-column, #css-column {
  width: 50%;
  float: left;
  padding: 1%;
}

.article {
  height: auto;
  margin-bottom: 1em;
  padding: 1em;
  box-sizing: border-box;
}

.screenshot {
  margin-bottom: 1em;
}

.screenshot p {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.screenshot img {
  max-width: 50%;
  height: auto;
}

form {
  border: 2px solid #ccc;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

form label {
  display: block;
  margin-top: 10px;
  text-align: left;
}

.errorMessages {
  color: red;
  font-weight: bold;
  margin-top: 5px;
}

.validators {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}
